<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564788439442-f4j85upq23fprmgemi89j9ssfktoa9u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564788439442-f4j85upq23fprmgemi89j9ssfktoa9u7</string>
	<key>API_KEY</key>
	<string>AIzaSyBpXES_Rtmf3jox6SMBNxPuRLDZ52KpIHM</string>
	<key>GCM_SENDER_ID</key>
	<string>564788439442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bogdanpoh.MShare</string>
	<key>PROJECT_ID</key>
	<string>mshare-cd622</string>
	<key>STORAGE_BUCKET</key>
	<string>mshare-cd622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564788439442:ios:b82613c5d4a785ed1c794b</string>
</dict>
</plist>